name: Docker Image Workflow

on:
  push:
    branches:
      - master

jobs:
  docker-workflow:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}   
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}  
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: docker build image
        run: |
          docker build . -t centos7cn:0.1.0
      - name: docker push image
        run: |
          docker push zyz82/centos7cn:0.1.0
